
<!-- Main page -->

<div id="constructor-test-wrapper">

	<div id="main-create-test" class="main-test-cosruct">Создать тест <img class="main-test-cosruct__arrow"src="img/right_arrow.gif" alt="right_arrow"></div>

	<div id="main-show-tests" class="main-test-cosruct">Посмотреть все тесты <img class="main-test-cosruct__arrow" src="img/right_arrow.gif" alt="right_arrow"></div>

</div>


<!-- Create test page -->

<script type="text/template" id="constructor-test-create-test-page">
	
	<div class="create-test-caption">[ Создание теста ]</div>

	<div class="create-test-module">Название модуля <input type="text" name="" id="create-test-module__theme"><button class="create-test-module__btn button-small">save</button></div>

	<div class="create-test-module">Количество вопросов <input type="text" name="" id="create-test-module__quantity-question"><button class="create-test-module__btn button-small">save</button></div>

	<div class="create-test-module">Количество правильных ответов <input type="text" name="" id="create-test-module__quantity-answer"><button class="create-test-module__btn button-small">save</button></div>

	<div class="create-test-module create-test-module__set-answer"><p class="create-test-module__set-answer--text">Установить правильный ответ</p></div>


	<form id="addTest" class="create-test-form">
		<p><input class="create-test-form__question" type="text" id="testName" placeholder="условие теста"></p>
		<p>а) <input class="create-test-form__answer" type="text" id="question1" placeholder="вопрос 1"><input class="create-test-form__radio" id="radioCreate1" name="radioAddTest" type="radio" value=""><label for="radioCreate1"><span></span></label></p>
		<p>б) <input class="create-test-form__answer" type="text" id="question2" placeholder="вопрос 2"><input class="create-test-form__radio" id="radioCreate2" name="radioAddTest" type="radio" value=""><label for="radioCreate2"><span></span></label></p>
		<p>в) <input class="create-test-form__answer" type="text" id="question3" placeholder="вопрос 3"><input class="create-test-form__radio" id="radioCreate3" name="radioAddTest" type="radio" value="" checked><label for="radioCreate3"><span></span></label></p>
		<p>г) <input class="create-test-form__answer" type="text" id="question4" placeholder="вопрос 4"><input class="create-test-form__radio" id="radioCreate4" name="radioAddTest" type="radio" value=""><label for="radioCreate4"><span></span></label></p>
	</form>


	<div class="create-test-module">Время на тест <input type="text" name="" id="create-test-module__set-time"><button class="create-test-module__btn button-small">save</button></div>

	<div class="create-test-bot">
		<div class="create-test-other">
			<button class="create-test-module__btn button-small">ТЕОРИЯ</button><button class="create-test-module__btn button-small">СОЗДАТЬ ДЗ</button>
		</div>
		<button id="btnAddTest" class="create-test-module__btn create-test-module__btn--big button-small">СОХРАНИТЬ</button>
	</div>

</script>

<!-- Change test page -->

<script type="text/template" id="constructor-test-change-test-page">
	
	<div class="create-test-caption">[ Все тесты ]</div>

	<div class="change-form-module">

		<div class="change-form-module__theme">
			<div class="change-form-module__module">Модуль 1</div>
			<div class="change-form-module__module">Модуль 2</div>
			<div class="change-form-module__module">Модуль 3</div>
			<div class="change-form-module__module">Модуль 4</div>
		</div>

		<div id="change-form-module__former"></div>

	</div>

</script>


<script type="text/template" id="constructor-test-change-test-input">

	<% if ( (correctAnswer == answer1) && (correctAnswer != '') ) { %>

	<div class="change-form-module__form">
		<form id="changeTest_<%- id%>" class="create-test-form">
			<p id="identificator_<%- id%>"><%- id%>. <input class="create-test-form__question" type="text" id="changeTestName_<%- id%>" placeholder="<%- title%>" value="<%- title%>"></p>
			<p>а) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion1_<%- id%>" placeholder="<%- answer1%>" value="<%- answer1%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate1_<%- id%>" name="radioAddTest" type="radio" value="" checked><label for="radioCreate1_<%- id%>"><span></span></label></p>
			<p>б) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion2_<%- id%>" placeholder="<%- answer2%>" value="<%- answer2%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate2_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate2_<%- id%>"><span></span></label></p>
			<p>в) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion3_<%- id%>" placeholder="<%- answer3%>" value="<%- answer3%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate3_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate3_<%- id%>"><span></span></label></p>
			<p>г) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion4_<%- id%>" placeholder="<%- answer4%>" value="<%- answer4%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate4_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate4_<%- id%>"><span></span></label></p>
			<hr class="create-test-form__line">
		</form>
		<div class="change-form-module__btn-group">
			<button id="updBtn_<%- id%>" class="btnUpdateTest create-test-module__btn button-small updBtn_<%- id%>">РЕДАКТИРОВАТЬ</button>
			<button id="remBtn_<%- id%>" class="btnRemoveTest create-test-module__btn button-small remBtn_<%- id%>">УДАЛИТЬ</button>
		</div>

	</div>

	<% } %>


	<% if ( ( correctAnswer == answer2 ) && (correctAnswer != '') ) { %>

	<div class="change-form-module__form">
		<form id="changeTest_<%- id%>" class="create-test-form">
			<p id="identificator_<%- id%>"><%- id%>. <input class="create-test-form__question" type="text" id="changeTestName_<%- id%>" placeholder="<%- title%>" value="<%- title%>"></p>
			<p>а) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion1_<%- id%>" placeholder="<%- answer1%>" value="<%- answer1%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate1_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate1_<%- id%>"><span></span></label></p>
			<p>б) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion2_<%- id%>" placeholder="<%- answer2%>" value="<%- answer2%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate2_<%- id%>" name="radioAddTest" type="radio" value="" checked><label for="radioCreate2_<%- id%>"><span></span></label></p>
			<p>в) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion3_<%- id%>" placeholder="<%- answer3%>" value="<%- answer3%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate3_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate3_<%- id%>"><span></span></label></p>
			<p>г) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion4_<%- id%>" placeholder="<%- answer4%>" value="<%- answer4%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate4_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate4_<%- id%>"><span></span></label></p>
			<hr class="create-test-form__line">
		</form>
		<div class="change-form-module__btn-group">
			<button id="updBtn_<%- id%>" class="btnUpdateTest create-test-module__btn button-small updBtn_<%- id%>">РЕДАКТИРОВАТЬ</button>
			<button id="remBtn_<%- id%>" class="btnRemoveTest create-test-module__btn button-small remBtn_<%- id%>">УДАЛИТЬ</button>
		</div>


	</div>

	<% } %>


	<% if ( ( correctAnswer == answer3 ) && (correctAnswer != '') ) { %>

	<div class="change-form-module__form">
		<form id="changeTest_<%- id%>" class="create-test-form">
			<p id="identificator_<%- id%>"><%- id%>. <input class="create-test-form__question" type="text" id="changeTestName_<%- id%>" placeholder="<%- title%>" value="<%- title%>"></p>
			<p>а) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion1_<%- id%>" placeholder="<%- answer1%>" value="<%- answer1%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate1_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate1_<%- id%>"><span></span></label></p>
			<p>б) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion2_<%- id%>" placeholder="<%- answer2%>" value="<%- answer2%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate2_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate2_<%- id%>"><span></span></label></p>
			<p>в) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion3_<%- id%>" placeholder="<%- answer3%>" value="<%- answer3%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate3_<%- id%>" name="radioAddTest" type="radio" value="" checked><label for="radioCreate3_<%- id%>"><span></span></label></p>
			<p>г) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion4_<%- id%>" placeholder="<%- answer4%>" value="<%- answer4%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate4_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate4_<%- id%>"><span></span></label></p>
			<hr class="create-test-form__line">
		</form>
		<div class="change-form-module__btn-group">
			<button id="updBtn_<%- id%>" class="btnUpdateTest create-test-module__btn button-small updBtn_<%- id%>">РЕДАКТИРОВАТЬ</button>
			<button id="remBtn_<%- id%>" class="btnRemoveTest create-test-module__btn button-small remBtn_<%- id%>">УДАЛИТЬ</button>
		</div>

	</div>

	<% } %>


	<% if ( ( correctAnswer == answer4 ) && (correctAnswer != '') ) { %>

	<div class="change-form-module__form">
		<form id="changeTest_<%- id%>" class="create-test-form">
			<p id="identificator_<%- id%>"><%- id%>. <input class="create-test-form__question" type="text" id="changeTestName_<%- id%>" placeholder="<%- title%>" value="<%- title%>"></p>
			<p>а) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion1_<%- id%>" placeholder="<%- answer1%>" value="<%- answer1%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate1_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate1_<%- id%>"><span></span></label></p>
			<p>б) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion2_<%- id%>" placeholder="<%- answer2%>" value="<%- answer2%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate2_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate2_<%- id%>"><span></span></label></p>
			<p>в) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion3_<%- id%>" placeholder="<%- answer3%>" value="<%- answer3%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate3_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate3_<%- id%>"><span></span></label></p>
			<p>г) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion4_<%- id%>" placeholder="<%- answer4%>" value="<%- answer4%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate4_<%- id%>" name="radioAddTest" type="radio" value="" checked><label for="radioCreate4_<%- id%>"><span></span></label></p>
			<hr class="create-test-form__line">
		</form>
		<div class="change-form-module__btn-group">
			<button id="updBtn_<%- id%>" class="btnUpdateTest create-test-module__btn button-small updBtn_<%- id%>">РЕДАКТИРОВАТЬ</button>
			<button id="remBtn_<%- id%>" class="btnRemoveTest create-test-module__btn button-small remBtn_<%- id%>">УДАЛИТЬ</button>
		</div>

	</div>

	<% } %>



	<% if ( (correctAnswer == '') ) { %>

	<div class="change-form-module__form">
		<form id="changeTest_<%- id%>" class="create-test-form">
			<p id="identificator_<%- id%>"><%- id%>. <input class="create-test-form__question" type="text" id="changeTestName_<%- id%>" placeholder="<%- title%>" value="<%- title%>"></p>
			<p>а) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion1_<%- id%>" placeholder="<%- answer1%>" value="<%- answer1%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate1_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate1_<%- id%>"><span></span></label></p>
			<p>б) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion2_<%- id%>" placeholder="<%- answer2%>" value="<%- answer2%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate2_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate2_<%- id%>"><span></span></label></p>
			<p>в) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion3_<%- id%>" placeholder="<%- answer3%>" value="<%- answer3%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate3_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate3_<%- id%>"><span></span></label></p>
			<p>г) <input class="create-test-form__answer change-test-form__answer_<%- id%>" type="text" id="changeQuestion4_<%- id%>" placeholder="<%- answer4%>" value="<%- answer4%>"><input class="create-test-form__radio change-test-form__radio_<%- id%>" id="radioCreate4_<%- id%>" name="radioAddTest" type="radio" value=""><label for="radioCreate4_<%- id%>"><span></span></label></p>
			<hr class="create-test-form__line">
		</form>
		<div class="change-form-module__btn-group">
			<button id="updBtn_<%- id%>" class="btnUpdateTest create-test-module__btn button-small updBtn_<%- id%>">РЕДАКТИРОВАТЬ</button>
			<button id="remBtn_<%- id%>" class="btnRemoveTest create-test-module__btn button-small remBtn_<%- id%>">УДАЛИТЬ</button>
		</div>

	</div>

	<% } %>


</script>




