 .ChP_grup {
  height: 270px;
  width: 1350px;
  margin: 100px 0 0 30px;
  overflow: hidden;
  box-sizing: border-box;
} 

 .ChP_grup-name {
  margin-top: 8px;
  margin-left: 50px;
  color: #202b52;
  font-weight: bolder;
  font-size: 25px; ;
} 

.ChP_grup-strip{
height: 70%;
width: 100%;
margin-top: 30px;
margin-bottom: 10px;
}

.ChP_grup-strip-member{
width: 270px;
height: 100%;
float: left;
text-align: center;
}

.ChP_grup-strip-member-imgDiv{
  margin: 0 auto;
  width: 55%;
  height: 75%;
  border-radius: 100px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.ChP_grup-strip-member-name{
  font-weight: bolder;
  font-size: 15px;
  line-height: 1.5;
}

.ChP_grup-strip-member-bal{
  font-weight: bolder;
  font-size: 15px;
  line-height: 1;
}