
<!-- Main page -->

<div id="constructor-test-wrapper">

	<div id="main-create-test" class="main-test-cosruct">Создать тест <img class="main-test-cosruct__arrow"src="img/right_arrow.gif" alt="right_arrow"></div>

	<div id="main-show-tests" class="main-test-cosruct">Посмотреть все тесты <img class="main-test-cosruct__arrow" src="img/right_arrow.gif" alt="right_arrow"></div>

</div>

<!-- Create test page -->

<script type="text/template" id="constructor-test-create-test-page">
	
	<div class="create-test-caption">[ Создание теста ]</div>

	<div class="create-test-module">Название модуля <input type="text" name="" id="create-test-module__theme"><button class="create-test-module__btn button-small">save</button></div>

	<div class="create-test-module">Количество вопросов <input type="text" name="" id="create-test-module__quantity-question"><button class="create-test-module__btn button-small">save</button></div>

	<div class="create-test-module">Количество правильных ответов <input type="text" name="" id="create-test-module__quantity-answer"><button class="create-test-module__btn button-small">save</button></div>

	<div class="create-test-module create-test-module__set-answer"><p class="create-test-module__set-answer--text">Установить правильный ответ</p></div>


	<form id="addTest" class="create-test-form">
		<p><input class="create-test-form__question" type="text" id="testName" placeholder="условие теста"></p>
		<p>а) <input class="create-test-form__answer" type="text" id="question1" placeholder="вопрос 1"><input class="create-test-form__radio" id="radioCreate1" name="radioAddTest" type="radio" value=""><label for="radioCreate1"><span></span></label></p>
		<p>б) <input class="create-test-form__answer" type="text" id="question2" placeholder="вопрос 2"><input class="create-test-form__radio" id="radioCreate2" name="radioAddTest" type="radio" value=""><label for="radioCreate2"><span></span></label></p>
		<p>в) <input class="create-test-form__answer" type="text" id="question3" placeholder="вопрос 3"><input class="create-test-form__radio" id="radioCreate3" name="radioAddTest" type="radio" value="" checked><label for="radioCreate3"><span></span></label></p>
		<p>г) <input class="create-test-form__answer" type="text" id="question4" placeholder="вопрос 4"><input class="create-test-form__radio" id="radioCreate4" name="radioAddTest" type="radio" value=""><label for="radioCreate4"><span></span></label></p>
	</form>


	<div class="create-test-module">Время на тест <input type="text" name="" id="create-test-module__set-time"><button class="create-test-module__btn button-small">save</button></div>

	<div class="create-test-bot">
		<div class="create-test-other">
			<button class="create-test-module__btn button-small">ТЕОРИЯ</button><button class="create-test-module__btn button-small">СОЗДАТЬ ДЗ</button>
		</div>
		<button id="btnAddTest" class="create-test-module__btn create-test-module__btn--big button-small">СОХРАНИТЬ</button>
	</div>

</script>

<!-- Change test page -->

<script type="text/template" id="constructor-test-change-test-page">
	
	<div class="create-test-caption">[ Все тесты ]</div>

	<div class="change-form-module">

		<div class="change-form-module__theme">
			<div class="change-form-module__module">Модуль 1</div>
			<div class="change-form-module__module">Модуль 2</div>
			<div class="change-form-module__module">Модуль 3</div>
			<div class="change-form-module__module">Модуль 4</div>
		</div>


		<div id="change-form-module__former"></div>

		


	</div>

</script>


<script type="text/template" id="constructor-test-change-test-input">

			<div class="change-form-module__form">
				<form id="changeTest_<%- id%>" class="create-test-form">
					<p id="identificator_<%- id%>"><%- id%>. <input class="create-test-form__question" type="text" id="changeTestName_<%- id%>" placeholder="<%- title%>"></p>
					<p>а) <input class="create-test-form__answer" type="text" id="changeQuestion1_<%- id%>" placeholder="<%- answer1%>"><input class="create-test-form__radio" id="radioCreate1" name="radioAddTest" type="radio" value=""><label for="radioCreate1"><span></span></label></p>
					<p>б) <input class="create-test-form__answer" type="text" id="changeQuestion2_<%- id%>" placeholder="<%- answer2%>"><input class="create-test-form__radio" id="radioCreate2" name="radioAddTest" type="radio" value=""><label for="radioCreate2"><span></span></label></p>
					<p>в) <input class="create-test-form__answer" type="text" id="changeQuestion3_<%- id%>" placeholder="<%- answer3%>"><input class="create-test-form__radio" id="radioCreate3" name="radioAddTest" type="radio" value="" checked><label for="radioCreate3"><span></span></label></p>
					<p>г) <input class="create-test-form__answer" type="text" id="changeQuestion4_<%- id%>" placeholder="<%- answer4%>"><input class="create-test-form__radio" id="radioCreate4" name="radioAddTest" type="radio" value=""><label for="radioCreate4"><span></span></label></p>
					<hr class="create-test-form__line">
				</form>
				<button id="updBtn_<%- id%>" class="btnUpdateTest create-test-module__btn button-small updBtn_<%- id%>">РЕДАКТИРОВАТЬ</button>
				<button id="remBtn_<%- id%>" class="btnRemoveTest create-test-module__btn button-small remBtn_<%- id%>">УДАЛИТЬ</button>
			</div>

		</script>









<!-- <div><button id="btnGetTest">Показать ВСЕ тесты</button></div>
<table id="testTable"></table>
<hr>


<div><button id="btnSingleTest">Показать ОДИН тест</button></div>
<form id="singleTest">
	<p><input type="text" id="showSingletest" placeholder="show test id"></p>
</form>
<hr>			


<script type="text/template" id="testSimple">
    <tr>
	    <th rowspan="2">id. <%- id%></th>
	    <th colspan="4"><%- title%></th>
    </tr>
	<tr>
		<% if ( answer1 == correctAnswer ) { %>
		<td class="green"><%- answer1%></td>
		<% } 
		else { %>
		<td><%- answer1%></td>
		<% } %>
		<% if ( answer2 == correctAnswer ) { %>
		<td class="green"><%- answer2%></td>
		<% } 
		else { %>
		<td><%- answer2%></td>
		<% } %>
		<% if ( answer3 == correctAnswer ) { %>
		<td class="green"><%- answer3%></td>
		<% } 
		else { %>
		<td><%- answer3%></td>
		<% } %>
		<% if ( answer4 == correctAnswer ) { %>
		<td class="green"><%- answer4%></td>
		<% } 
		else { %>
		<td><%- answer4%></td>
		<% } %>

	</tr>
</script>

<div><button id="btnAddTest">Создать тест</button></div>
<form id="addTest">
	<p><input type="text" id="testName" placeholder="new test name"></p>
	<p><input type="text" class="question" id="question1" placeholder="question 1"><input class="questionRadio" name="radioAddTest" type="radio" value=""></p>
	<p><input type="text" class="question" id="question2" placeholder="question 2"><input class="questionRadio" name="radioAddTest" type="radio" value=""></p>
	<p><input type="text" class="question" id="question3" placeholder="question 3"><input class="questionRadio" name="radioAddTest" type="radio" value="" checked></p>
	<p><input type="text" class="question" id="question4" placeholder="question 4"><input class="questionRadio" name="radioAddTest" type="radio" value=""></p>
</form>
<hr>

<div><button id="btnUpdateTest">Обновить тест</button></div>
<form id="updateTest">
	<p><input type="text" id="changeTestId" placeholder="update id"></p>
	<p><input type="text" id="changeTestName" placeholder="update test name"></p>
	<p><input type="text" class="changedQuestion" id="changeQuestion1" placeholder="update question 1"><input class="changeQuestionRadio" name="radioChangeTest" type="radio" value=""></p>
	<p><input type="text" class="changedQuestion" id="changeQuestion2" placeholder="update question 2"><input class="changeQuestionRadio" name="radioChangeTest" type="radio" value=""></p>
	<p><input type="text" class="changedQuestion" id="changeQuestion3" placeholder="update question 3"><input class="changeQuestionRadio" name="radioChangeTest" type="radio" value="" checked></p>
	<p><input type="text" class="changedQuestion" id="changeQuestion4" placeholder="update question 4"><input class="changeQuestionRadio" name="radioChangeTest" type="radio" value=""></p>
</form>

<div><button id="btnRemoveTest">Удалить тест</button></div>
<form id="removeTest">
	<p><input type="text" id="removeTestId" placeholder="delete test id"></p>
</form>
<hr>
 -->