@charset "UTF-8";
html, body, body div, span, p, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, address, cite, code, caption, del, dfn, img, ins, kbd, q, samp, em, small, strong, sub, sup, var, b, i, dl, dt, dd, pre, abbr, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, article, aside, figure, section, footer, header, menu, nav, time, mark, audio, video, details, summary {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  border: 0; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

ul {
  list-style: none; }

a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

input, select {
  vertical-align: middle; }

pre {
  word-wrap: break-word;
  /* IE */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */ }

input[type='radio'], input[type='checkbox'] {
  vertical-align: text-bottom; }

td, td img {
  vertical-align: top; }

label, input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button, input[type=button] {
  width: auto;
  overflow: visible; }

/*
 * ТУТ ВВОДИТСЯ ТЕКСТ
 * ТУТ ТОЖЕ, ЕСЛИ НАДО
 */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.otf") format("otf"), url("../fonts/BebasNeueRegular.ttf") format("ttf"); }

@font-face {
  font-family: 'Museo Sans Cyrl W03 300';
  src: url("../fonts/Museo Sans Cyrl W03 300.woff2") format("woff2"), url("../fonts/Museo Sans Cyrl W03 300.woff") format("woff"), url("../fonts/Museo Sans Cyrl W03 300.otf") format("otf"), url("../fonts/Museo Sans Cyrl W03 300.ttf") format("ttf"); }

.button-big {
  padding: 0.5rem 3.5rem;
  letter-spacing: 0.14063rem;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0.625rem;
  background-color: #ff6c00;
  font-family: "BebasNeueRegular", "Arial", sans-serif;
  font-size: 1.875rem; }

.button-small {
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.14063rem;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0.9375rem;
  background-color: #ff6c00;
  font-family: "BebasNeueRegular", "Arial", sans-serif;
  font-size: 0.875rem; }

.icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  background-color: #ff6c00; }

.close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #ff6c00;
  border: 0.125rem solid transparent;
  border-radius: 50%;
  font-size: 1.25rem;
  text-align: center; }
  .close:hover {
    cursor: default;
    color: #00ffff;
    border: 0.125rem solid #ff6c00;
    border-radius: 50%; }

.logo {
  width: 3.75rem; }
  .logo__img {
    width: 6.5rem; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem; }

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 10px; }

.wrapper {
  min-width: 1024px;
  background-color: #062037; }
  .wrapper--light-gray {
    background-color: #e5e5e5; }
  .wrapper__modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(229, 229, 229, 0.5); }
    .wrapper__modal-window--entrance {
      display: none; }
    .wrapper__modal-window--registration {
      display: none; }
    .wrapper__modal-window--end-registration {
      display: none; }

.content {
  position: relative;
  min-height: 960px; }

.left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 9.375rem;
  background: #061f36;
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%; }

.main {
  position: relative;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  min-height: 9.375rem;
  background-color: #f5f5f5; }

.right-nav {
  width: 3rem;
  height: 15rem;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: calc(50% - rem(240)/2); }

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  min-width: 40rem;
  padding: 1.5rem 5rem 3rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background-color: #062037; }
  .modal-window__close {
    top: 0.5rem;
    right: 0.5rem; }
  .modal-window__end-registration {
    min-width: 40rem;
    padding: 8rem; }

.title {
  text-transform: uppercase;
  color: #00ffff;
  font-family: "BebasNeueRegular", "Arial", sans-serif;
  font-size: 3.75rem;
  font-weight: 400; }

.a-entrance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 38rem;
  margin: auto;
  text-align: center;
  color: #fff;
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif; }
  .a-entrance__btn {
    margin-top: 2rem; }
  .a-entrance__input-block {
    margin-top: 1rem; }
    .a-entrance__input-block:first-child {
      margin-top: 4rem;
      max-height: 2rem; }
  .a-entrance__remember-pass {
    font-size: 1rem; }
  .a-entrance__error {
    margin-top: 3rem; }
  .a-entrance__forgot-pass {
    display: block;
    margin-top: 1rem;
    text-decoration: none;
    color: #00ffff;
    font-size: 1.5rem; }
    .a-entrance__forgot-pass:hover {
      color: #ff6c00; }
  .a-entrance__social {
    margin: 2rem auto 0; }

.a-input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  z-index: 10;
  width: 100%; }
  .a-input-block:first-of-type {
    margin-top: 2.5rem;
    max-height: 2.5rem; }
  .a-input-block__label {
    display: block;
    width: 38%;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    text-align: right; }
  .a-input-block__input {
    width: 100%;
    padding-left: 1rem;
    color: #062037;
    border: none;
    max-height: 2rem;
    background-color: #838b93;
    font-size: 1.25rem; }

.a-checkbox-block {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 1.5rem;
  padding-left: 1rem; }
  .a-checkbox-block__label {
    font-size: 1.125rem; }
  .a-checkbox-block__checkbox {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem; }

.a-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 13.5rem;
  z-index: 10; }
  .a-social__link {
    display: block;
    color: #fff;
    text-decoration: none; }

.a-error {
  visibility: hidden;
  color: #ff0000;
  font-size: 1rem;
  z-index: 10; }

.icon:hover {
  background-color: #ff6c00; }

.icon--facebook {
  background: url("../img/facebook.svg") 0 0/100% no-repeat; }

.icon--google {
  background: url("../img/google.svg") 0 0/100% no-repeat; }

.icon--linkedin {
  background: url("../img/linkedin.svg") 0 0/100% no-repeat; }

.a-entrance--centered {
  margin: 0 auto; }

.star::after {
  position: absolute;
  content: " *";
  color: #ff6c00; }

.correctpass {
  position: relative;
  bottom: 92%;
  left: 350%;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  color: #0f0; }

.a-input-block__label {
  display: block;
  margin-right: 2rem; }
  .a-input-block__label--rightaligned {
    text-align: right;
    width: 30%;
    margin-right: 2rem;
    font-size: 1.375rem; }
  .a-input-block__label:last-child {
    line-height: 0.5rem; }

.a-input-block__input--size {
  max-width: 64%;
  max-height: 1.5rem;
  padding-left: 1rem;
  color: #062037;
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
  font-size: 1.25rem; }

.policylink {
  font-size: 1.125rem;
  display: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  display: block;
  color: #fff;
  text-decoration: none; }

.policylink::before {
  position: relative;
  left: -40%;
  font-size: 1.375rem;
  content: " *";
  color: #ff6c00; }

.end-registration__text {
  text-align: left;
  color: #fff;
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
  font-size: 1.375rem;
  line-height: 2rem; }
  .end-registration__text--link {
    text-decoration: underline;
    -webkit-text-decoration-color: #00ffff;
            text-decoration-color: #00ffff; }
  .end-registration__text--mail {
    color: #00ffff;
    font-size: 1.75rem; }
