.m-timer {
	position: relative;
	&__time {
		position: absolute;

		width: max-content;

		font-size: rem(12);
		text-align: right;

		transform: translate(-105%, 25%);
	}
	&__img {
		background: url(../img/materialHeader/time.png)no-repeat;
		background-size: contain;
	}
}
