.m-content {
    padding: 16px 56px 48px 16px;
    &__text {
        margin-bottom: 16px;
        line-height: 140%;
        text-indent: 16px;
        text-align: justify;
    }
}

.m-btn-up {
    position: absolute;
    right: 40px;
    bottom: 80px;
    opacity: 0.7;
    &__arrow {
        height: 100%;
        clip-path: polygon(15% 70%, 50% 15%, 85% 70%);
        background: white;
    }
}