.input-editor {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    &:first-child {
        margin-top: 0;
    }
    &:hover > &__instruments {
        display: block;
    }
    &__item {
        border: none;
        box-sizing: border-box;
        height: 100%;
        background: inherit;
        width: max-content;
    }
    &__instruments {
        position: absolute;
        display: none;
        right: -40px;
        height: 100%;
        top: 0;

    }
    &__edit {
        display: inline-block;
        height: 100%;
        width: 14px;
        &:hover {
            cursor: pointer;
        }
    }
    &__delete {
        display: inline-block;
        height: 100%;
        margin-left: 8px;
        width: 14px;
        &:hover {
            cursor: pointer;
        }
    }
}