.m-bottomBtnBox {
	padding-top:20px;
	display: flex;
	justify-content: space-around;
}
.m-bottomBtn {
	border: 3px solid white;
}
.m-bottomBtn:first-child {
	margin-right: 6%;
	margin-left:0;
}
