.material-admin{
    &__title{
    font-size: 24px;
    color: #222c4f;
    margin-bottom: 32px;
    }
    &__add-options{
    display: flex;
    flex-direction: row;
    }
    &__link{
        text-decoration: none;
        color: #ef742e;
    }
    &__add-options{
        display: flex;
        justify-content: space-around;
        width: 95%;
        border-bottom: 2px solid #e8e8e8;
        margin-bottom: 24px;
        font-size: 20px;
    }
    &__material{
        background-color: #e8e8e8;
        padding: 2px 16px 0 16px;
    }
}
.m-btn-admin{
    box-shadow: 0 0 2px gray;
    opacity: 0.9;
    &:hover {
        box-shadow: 0 0 2px black;
        opacity: 1;
    }
}
.material-admin__closer-window{
    background-color: rgb(215, 217, 219);
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    opacity: 0.9;

}
.hidden-closer-window{
    margin-top: 22%;
    padding: 24px 8px 24px 8px;
    height: 88px;
    width: max-content;
    border: 2px solid #333;
}
.hidden-block{
	visibility: hidden;
}
.material-admin__cross {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
    box-shadow: 0 0 2px gray;
        &:hover {
            opacity: 1;
            box-shadow: 0 0 2px black;
        }
        &:before, &:after {
            position: absolute;
            left: 15px;
            top: 4px;
            content: ' ';
            height: 24px;
            width: 2px;
            background-color: white;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
}
