.m-content {
    padding-top: 20px;
    padding-right: 10px;
    font-family: $text-font;
    word-wrap: break-word;
    font-size: rem(14);
    &__text {
        display: block;
        margin-bottom: 16px;
    }
}

.m-btn-up {
    position: absolute;
    right: 24px;
    bottom: 32px;
    opacity: 0.5;
    z-index: 1;
    &__arrow {
        height: 100%;
        clip-path: polygon(15% 70%, 50% 15%, 85% 70%);
        background: white;
    }
}