.m-left-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(19% - 248px/2);
    left: 0px;
    min-height: 240px;
    max-height: 240px;
    overflow: hidden;
    align-content: center;
    transition: 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    &-fixed {
		position: fixed;
		top: calc(50% - 200px/2);
		left: 19.1%;
	}

    &__link{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        width: 240px;
        min-height: 40px;
        max-height: 40px;
        vertical-align: middle;
        &:hover {
            opacity: 1;
            border-left: 2px solid #ff6c00;
            transition: linear 0.3s;
            }
        &::after {
            position: absolute;
            text-align: left;
            padding: 2px 4px 4px 0px;
            font-size: 12px;
            height: 39px;
            color: black;
            width: 160px;
            background: rgba(0, 255, 255, 0.8);
            border-radius: 40px;
            border-top-left-radius: 0;
            content: attr(prompt);
            transition: linear 0.3s;
            transform: translate(22%, 0%);
        }

        &-fixed:hover::after {
            position: absolute;
            overflow: hidden;
            text-align: left;
            padding: 2px 4px 4px 2px;
            font-size: 12px;
            background: rgba(0, 255, 255, 0.8);
            border-radius: 40px;
            border-top-left-radius: 0;
            content: attr(prompt);
            transition: linear 0.3s;
            transform: translate(22%, -105%);
        }
    }

    &__number{
        color: #ff6c00;
        text-align: center;
        width: 24px;
        padding: 8px;
        overflow: hidden;
        border-bottom: 2px solid #e9eaeb;
        background: white;
        }
    }

.invisible-content{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 32px;
    min-height: 40px;
    max-height: 40px;
    vertical-align: middle;
    overflow: hidden;

    &:hover {
        opacity: 1;
        border-left: 2px solid #ff6c00;
        transition: linear 0.3s;
        width: 240px;
        overflow: hidden;

        &::after {
            position: absolute;
            text-align: left;
            overflow: hidden;
            padding: 2px 4px 4px 0px;
            font-size: 12px;
            height: 39px;
            color: black;
            width: 160px;
            background: rgba(0, 255, 255, 0.8);
            border-radius: 40px;
            border-top-left-radius: 0;
            content: attr(prompt);
            transition: linear 0.3s;
            transform: translate(22%, 0%);
        }
    }
}
