.m-left-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(19% - 248px/2);
    left: 0px;

    &__link{
        text-decoration: none;
        color: #ff6c00;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 2px 4px;
        position: relative;
        &:hover > .m-left-nav__prompt {
            display: block !important;
        }
    }
    &__prompt {
        position: absolute;
        display: block;
        padding: 6px 16px;
        font-size: 16px;
        color: #202b52;
        width: max-content;
        background: rgba(0, 255, 255, 0.8);
        border-radius: 40px;
        border-bottom-left-radius: 0;
        transition: linear 0.3s;
        top: -80%;
        left: 90%;
    }
}
