// .m-left-nav-btn {
//     display: flex;
//     // flex-direction: column;
//     position: absolute;
//     top: 200px;
//     left: 0px;
// }
.m-left-nav-btn__btnDown {
    position: absolute;
    top: 454px;
    left: -7px;
    width: 25px;
    height: 25px;
    margin:10px;
    // display: flex;
    // flex-direction: row;
    display: block;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-color:#9E9E9E;
    border-style:solid;
    border: 2px solid transparent;
    border-left:2px solid #9E9E9E;
    border-right: 2px solid #9E9E9E;
    border-top: 2px solid #9E9E9E;
    border-bottom: 2px solid #9E9E9E;
	border-radius: 50px solid #9E9E9E;

    &::after {
        display: block;
        content: '';
        height: 100%;
        background: #9E9E9E;
        clip-path: polygon(-20% 70%, 50% 15%, 116% 70%);
    }
}
