.c-accordion-menu {
  width: 160px;
  background: $white;
  border-radius: 8px;

    &__submenu {
		/* by default hide all submenus */
		display: none;
        font-family: $text-font;

        &-button {
            display: block;
            padding: 16px;
            font-size: 18px;
            color: $dark-text;
            text-transform: uppercase;
        }
        &-item {
            padding: 4px 16px;
            font-size: 16px;
        }
        &-link {
            color: $light-text;
            text-decoration: none;
        }
	}

	input[type=checkbox] {
		/* hide native checkbox */
		position: absolute;
		opacity: 0;
	}

    input[type=checkbox]:checked + .c-accordion-menu__button + .c-accordion-menu__submenu, input[type=checkbox]:checked + .c-accordion-menu__submenu-button + .c-accordion-menu__submenu {
        /* show children when item is checked */
        display: block;
    }

    &__button {
        display: block;
        height: 56px;
        font-family: $title-font;
        font-size: 24px;
        line-height: 56px;
        letter-spacing: 2.24px;
        color: $cyan;
        text-align: center;
        text-transform: uppercase;
        background-color: $dark-button;
        border-radius: 8px;
        box-shadow: 8px 0 8px $grey-pholder;
        margin-bottom: 8px;

        &::after {
            /* icons */
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

}

.small-btn{
  overflow: hidden;
  max-height: 400px;
  opacity: 1;
  transform: translate(0, 0);
  background-color: $light-gray;
}
