.d-wrapperAdmin {
    padding-top: 50px;
}

.d-holderAdmin {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background: rgb(134, 127, 127);
    text-align: center;
}

.d-select__select,
.d-deadLine,
.d-avarageTime,
.d-topic-text,
.d-homeworkTasks {
    margin-bottom: 15px;
}


