.board {
    text-align: center;
    padding: rem(0) rem(0) rem(16);

    &__title {
        display: inline-block;
        font-family: $title-font; // text-transform: uppercase;
        color: $dark-text;
        background: $cyan; // padding: 0 rem(8);
        font-size: rem(56);
        letter-spacing: rem(4); // margin: rem(16) 0;
    }
    &__last-news {
        margin: rem(48) rem(64) rem(16);
        display: flex;
        justify-content: space-between;
    }

    &__add-post {
        margin-bottom: rem(32);
    }
}

.board__text {
    color: $dark-text;
    font-weight: rem(800);
    letter-spacing: rem(2.25);
    font-family: $text-font;
    font-size: rem(28);
}

.icon-add {
    min-width: rem(33);
    min-height: rem(33);
    border: none;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 100, .4) rem(4) rem(4) rem(8) rem(-2);
}

    .add {
        background: url("../img/add.png") no-repeat;
    }
    .cancel {
        background: url("../img/canceladd.png") no-repeat;
    }

.add-post {
    display: none;
    padding: 0 rem(64);
    position: relative;

    &__title {
        margin-bottom: rem(24);
        text-align: left;
    }

    &__btn-post {
        position: absolute;
        right: rem(64);
    }

    &__theme {
        margin: rem(16) 0;
        font-family: $text-font;
        font-size: rem(16);
        color: $light-text;
        text-align: left;
    }

    &__input {
        background-color: $white;
        border: 1px solid $grey-pholder;
        border-radius: rem(8);
        margin-left: rem(16);
        font-family: $text-font;
        color: $light-text;
        padding: rem(8);
        width: 80%;

        &:focus,
        &:active {
            border: 0;
            outline: none;
        }
    }
}

.show {
    display: block;
}

.option {
        font-family: $text-font;
        color: $light-text;
        text-align: left;

        &__whom,
        &__date {
            display: inline-block;
        }

        &__select,
        &__input {
            border: 0;
            margin: 0 rem(32) 0 rem(16);
            font-family: $text-font;
            font-size: rem(16);
            color: $light-text;

            &:focus {
                border: 0;
                outline: none;
            }
        }
    }

.sun-editor {
    margin-bottom: rem(24);
    border-radius: rem(16);
    border-top-left-radius: rem(8);
    border-top-right-radius: rem(8);
    background-color: $grey-bg;
    border: 0;
    font-family: $text-font !important;
    font-size: rem(16);

    .sun-editor-id-editorArea {
        border-radius: rem(8);
        border: 0;
    }

    .sun-editor-id-resizeBar {
        height: rem(4);
        border-bottom: 1px solid $grey-bg;
        margin: 0 auto;
        width: 98%;
    }

    .sun-editor-id-toolbar {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        background-color: $grey-bg;
        border-radius: rem(8);
        border: 0;

        .btn_editor.on {
            background-color: $light-gray;
            border: 0;
            border-radius: rem(4);
            box-shadow: inset 0 3px 5px $light-gray;
        }

        .btn_editor {
            background-color: transparent;
            border: 0;
            color: $light-text !important;

            &:hover,
            &:focus {
                background-color: $light-gray;
                border: 0;
                border-radius: rem(4);
                box-shadow: inset 0 3px 5px $light-gray;
            }
        }
    }

    .layer_editor {
        border: 1px solid $grey-bg;
        border-radius: rem(8);
        box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    }

    .layer_editor button:hover,
    .editor_tool .layer_editor button:focus {
            background-color: $middle-grey;
        }


    .modal-dialog .modal-content {
        background-color: $light-gray;
        font-family: $text-font;
        font-size: rem(16);
        text-align: left;
    }
}
