.wrapper-post {
    margin: auto;
    background: #eaeaea;
}

.post {
    display: flex;
    justify-content: space-between;
    font-size: rem(18);
    width: 100%; //mainWidth=60%, (100-60)/2=20%
    margin-top: rem(16);
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: $text-font;
    font-size: rem(25);
    width: 20%; //mainWidth=60%, (100-60)/2=20%
    margin: rem(16) 0 rem(24) 0;


        &__ava {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: rem(72);
            height: rem(72);
            background-color: $white;
            border-radius: 50%;
            box-shadow: rgba(100,100,100,.4) 4px 4px 8px -2px;


            &-circle {
                width: 30%;
                height: 30%;
                margin-bottom: rem(2);
                background-color: $grey-bg;
                border-radius: 50%;
            }

            &-semicircle {
                width: 63%;
                height: 30%;
                background-color: $grey-bg;
                border-radius: rem(48) rem(48) 0 0;
            }
            &-tooltip {
                margin: rem(-8) 0 0 rem(56);
                width: rem(16);
                height: rem(16);
                font-size: rem(10);
                font-weight: bold;
                line-height: rem(16);
                text-align: center;
                background: $light-green;
                border: rem(2) solid $white;
                border-radius: 50%;
            }
        }

            &__name {
                margin-top: rem(8);
                font-family: $text-font;
                font-size: rem(12);
                color: $orange;

            }
            &__role {
                margin-top: rem(4);
                font-family: $text-font;
                font-size: rem(12);
                color: $dark-text;
            }
            &__to-chat {
                margin-top: rem(16);
                font-family: $text-font;
                font-size: rem(12);
                color: #808080;
            }
    }

.contents {
        display: inline-block;
        margin: auto rem(64) rem(24) rem(20);
        width: 80%;

        .title2 {
            font-family: $text-font;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            text-align: left;
            color: $orange;
            font-size: rem(20);
            margin-top: rem(8);
        }

        .control {
                display: block;
                margin-left: auto;

                &__delete {
                    display: inline-block;
                    color: $orange;
                }

                &__edit {
                    display: inline-block;
                    margin-right: rem(0);
                }

        }




        &__com {
            margin: rem(16) 0;
            font-family: $text-font;
            font-size: rem(12);
        }

        &__icon {
            display: flex;
            flex-direction: row;

            &--like {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: rem(24);
            }
            &--comm {

                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

    }

.counter {
        margin-left: rem(8);
        font-family: $text-font;
        font-size: rem(15);
}

.intime {
    font-family: $text-font;
    display: block;
    text-align: left;
    color: $grey-input;
    font-size: rem(11);

    &__date {
        display: inline-block;
        font-size: rem(11);

    }

    &__time {
        display: inline-block;
        font-size: rem(11);
        margin-left: rem(16);
    }
}





    comment {
        display: block;
    }
