.board-nav {

    display: block;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: flex-end;
    height: rem(200);
    margin: 0 rem(64) rem(36) rem(64);
    &__left,
    &__right {
        text-decoration: none;
        font-family: $text-font;
        font-size: 13px;
        color: $light-text;
    }
    &__left:before {
        // @include arrow;
        margin-right: 10px;
        border-right: 10px solid $grey-pholder;
    }
    &__right:after {
        // @include arrow;
        margin-left: 10px;
        border-left: 10px solid $grey-pholder;
    }
}
