.new-comment {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &__area {
        display: block;
        // flex-direction: column;

        width: 88%;
        height: rem(32);
    }

    &__title {
        width: 100%;
        font-family: $text-font;
        font-size: rem(13);
        text-transform: none;
        color: $light-text;
        border: none;
        border-radius: rem(10);
        padding: rem(4) rem(16);
        margin: 0 auto;
    }

    &__title:focus {
        outline: none;
    }

    &__btn-post {
        display: block;
        margin-top: rem(16);
        margin-left: auto;
        border: none;
        font-family: $title-font;
        font-size: rem(13);
        color: $white;
        line-height: rem(24);
        text-transform: uppercase;
        width: rem(112);
        height: rem(24);
        background: $orange;
        border-radius: rem(10);
    }
}
