.new-comment {
    width: 60%;
    margin: 200px auto 0;

    &-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__name{
        position: relative;
    }

    &__name::before {
        content: "Комментарии";
        position: absolute;
        top: -32px;
        left: 16px;
        display: block;
        font-family: $text-font;
        color: $dark-text;
        font-size: 15px;
        font-weight: bold;
    }

    &__title {
        width: 70%;
        font-family: $text-font;
        font-size: 13px;
        text-transform: none;
        color: $black;
        border: none;
        border-radius: 10px;
        padding: 4px 16px;
        margin: 0 auto;
    }
    &__title:focus {
        outline: none;
    }

    &__send {
        border: none;
        font-family: $title-font;
        font-size: 13px;
        color: $white;
        line-height: 24px;
        text-transform: uppercase;
        width: 112px;
        height: 24px;
        background: $orange;
        border-radius: 10px;
    }
}
