.end-registration {
    &__text {
        text-align: left;

        color: $white;

        font-family: $text-font;
        font-size: rem(24);
        line-height: 1.6;

        &--link {
            text-decoration: underline;

            text-decoration-color: $cyan;
        }

        &--mail {
            color: $cyan;

            font-size: rem(32);
        }
    }
}
