@import "mixins.scss";

.enterance {
    display: block;

    max-width: 608px;

    text-align: center;

    color: $white;

    font-family: $text-font;

    &__title {
        margin-top: 68px;
    }

    &__btn {
        margin-top: 56px;
    }

    &__email {
        margin-top: 72px;

        font-size: 32px;
    }

    &__pass {
        margin: 40px auto 0;

        font-size: 32px;
    }

    &__remember-pass {
        padding-right: 24px;

        font-size: 24px;
    }

    &__checkbox {
        margin-top: 40px;
        margin-right: 16px;
    }

    &__forgot-pass {
        display: block;

        margin-top: 50px;

        text-decoration: none;

        color: $cyan;

        font-size: 32px;

        &:hover {
            color: #f75300;
        }
    }
    &__social {
        margin: 40px auto 0;
    }
}

.email {
    min-width: 432px;
    min-height: 52px;

    color: $white;
    border: none;
    background-color: $grey-input;

    font-size: 32px;

    &__lable {
        margin-left: 88px;
    }
}

.pass {
    min-width: 432px;
    min-height: 52px;

    color: $white;
    border: none;
    background-color: $grey-input;

    font-size: 24px;

    &__lable {
        margin-left: 24px;
    }
}

.social {
    display: flex;
    justify-content: space-around;

    width: 240px;

    &__link {
        @include links;
    }
}

.icon {
    &:hover {
        background-color: $orange;
    }

    &--facebook {
        background: url('../img/facebook.svg')0 0/100% no-repeat;
    }

    &--google {
        background: url("../img/google.svg") 0 0/100% no-repeat;
    }

    &--linkedin {
        background: url("../img/linkedin.svg") 0 0/100% no-repeat;
    }
}
