@import "mixins.scss";

.a-entrance {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: rem(608);
    margin: auto;
    text-align: center;
    color: $white;
    font-family: $text-font;

    &__btn {
        margin-top: rem(40);
    }

    &__input-block {
        margin-top: rem(32);

        &--first {
            margin-top: rem(40);
        }
    }

    &__remember-pass {
        font-size: rem(16);
    }

    &__error {
        margin-top: rem(48);
    }

    &__forgot-pass {
        display: block;
        margin-top: rem(16);
        text-decoration: none;
        color: $cyan;
        font-size: rem(24);

        &:hover {
            color: $orange;
        }
    }

    &__social {
        margin: rem(32) auto 0;
    }
}

.a-input-block {
    display: flex;
    flex-direction: row;
    justify-content: right;
    z-index: 10;

    width: 100%;

    &__label {
            display: block;

            width: 35%;
            margin-right: 8px;

            font-size: rem(28);
            text-align: right;


    }

    &__input {
        width: 100%;
        padding-left: rem(16);
        color: $black;
        border: none;
        background-color: $grey-input;
        font-size: rem(30);
    }
}

.a-checkbox-block {
  z-index: 10;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: rem(24);
    padding-right: rem(8);

    &__label {
        font-size: rem(17);
    }

    &__checkbox {
        display: block;
        width: rem(16);
        height: rem(16);
        margin-right: rem(8);
        margin-left: rem(8);
    }
}


.a-social {
    display: flex;
    justify-content: space-around;
    width: rem(216);
    z-index: 10;

    &__link {
        @include links;
    }
}

.a-error {
    visibility: visible;
    color: $red;
    font-size: rem(16);
    z-index: 10;
}

.icon {
    &:hover {
        background-color: $orange;
    }

    &--facebook {
        background: url('../img/facebook.svg')0 0/100% no-repeat;
    }

    &--google {
        background: url("../img/google.svg") 0 0/100% no-repeat;
    }

    &--linkedin {
        background: url("../img/linkedin.svg") 0 0/100% no-repeat;
    }
}
