@import "mixins.scss";

.a-entrance {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: rem(608);
    margin: auto;
    text-align: center;
    color: $white;
    font-family: $text-font;

    &__btn {
        margin-top: rem(32);
    }

    &__input-block {
        margin-top: rem(16);

        &:first-child {
            margin-top: rem(64);
            max-height: rem(32);
        }
    }

    &__remember-pass {
        font-size: rem(16);
    }

    &__error {
        margin-top: rem(48);
    }

    &__forgot-pass {
        display: block;
        margin-top: rem(16);
        text-decoration: none;
        color: $cyan;
        font-size: rem(24);

        &:hover {
            color: $orange;
        }
    }

    &__social {
        margin: rem(32) auto 0;
    }
}

.a-input-block {
    display: flex;
    flex-direction: row;
    justify-content: right;
    z-index: 10;
    width: 100%;

    &:first-of-type {
        margin-top: rem(40);
        max-height: rem(40);
    }

    &__label {
        display: block;
        width: 38%;
        margin-right: rem(8);
        font-size: rem(20);
        text-align: right;
    }

    &__input {
        width: 100%;
        padding-left: rem(16);
        color: $dark-bg;
        border: 1px solid transparent;
        max-height: rem(32);
        background-color: $grey-input;
        font-size: rem(20);
    }
}

.a-checkbox-block {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: rem(24);
    padding-left: rem(16);

    &__label {
        font-size: rem(18);
    }

    &__checkbox {
        display: block;
        width: rem(16);
        height: rem(16);
        margin-right: rem(16);
    }
}

.a-social {
    display: flex;
    justify-content: space-around;
    width: rem(216);
    z-index: 10;

    &__link {
        @include links;
    }
}

.a-error {
    visibility: hidden;
    color: $red;
    font-size: rem(16);
    z-index: 10;
}

.icon {
    &:hover {
        background-color: $orange;
    }

    &--facebook {
        background: url('../img/facebook.svg')0 0/100% no-repeat;
    }

    &--google {
        background: url("../img/google.svg") 0 0/100% no-repeat;
    }

    &--linkedin {
        background: url("../img/linkedin.svg") 0 0/100% no-repeat;
    }
}
