@font-face {
    font-family: "BebasNeueRegular";
    src: url("../fonts/BebasNeueRegular.woff2") format("woff2"),
         url("../fonts/BebasNeueRegular.woff") format("woff"),
         url("../fonts/BebasNeueRegular.otf") format("otf"),
         url("../fonts/BebasNeueRegular.ttf") format("ttf");
}
@font-face {
    font-family: "Museo Sans Cyrl W03 300";
    src: url("../fonts/Museo Sans Cyrl W03 300.woff2") format("woff2"),
         url("../fonts/Museo Sans Cyrl W03 300.woff") format("woff"),
         url("../fonts/Museo Sans Cyrl W03 300.otf") format("otf"),
         url("../fonts/Museo Sans Cyrl W03 300.ttf") format("ttf");
}
