.header {
    height: 128px;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.c-logo {
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: $dark-text;
    text-transform: uppercase;
    background: $dark-bg;
}

.c-logo__elem {
    font-family: $text-font;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 4px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-logo__elem-white {
    background: $white;
    padding-left: 32px;
}

.c-logo__elem-white::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 16px solid $white;
    position: relative;
    right: -5px;
}

.c-logo__elem-orange {
    background: $orange;
}

.c-photo__student {
    width: 50px;
    height: 50px;
    border-radius: 25em;
}
