.header {
    display: flex;
    justify-content: space-between;
    height: 130px;
    padding: 40px 0;
}

.c-logo {
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 50px;
    color: $dark-text;
    text-transform: uppercase;
    background: $dark-bg;

    &__elem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        font-family: Arial;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 4px;

        &-white {
            justify-content: flex-start;
            padding-left: 14px;
            background: $white;

            &::after {
                display: block;
                width: 0;
                height: 0;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 16px solid $white;
                content: "";
            }
        }

        &-orange {
            background: $orange;
        }
    }
}
.c-header__photo-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $white;
    border-radius: 50%;

    &-circle {
        width: 16px;
        height: 16px;
        margin-bottom: 2px;
        background-color: $grey-bg;
        border-radius: 50%;
    }

    &-semicircle {
        width: 32px;
        height: 16px;
        background-color: $grey-bg;
        border-radius: 48px 48px 0 0;
    }
}
