.d-comments{
    margin: 0 200px;
}
.d-comments__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.d-comments__form__left{
    width: 43px;
}
.d-comments__form__center{
    position: relative;
    width: 100%;
    padding: 0 16px;
}
.d-comments__form__center::before{
    content: "Комментарии";
    position: absolute;
    top: -16px;
    left: 16px;
    display: block;
    font-family: $text-font;
    color: $dark-text;
    font-size: 15px;
    font-weight: bold;
}
.d-comments__form__com{
    width: 100%;
    font-family: $title-font;
    font-size: 13px;
    text-transform: none;
    color: $grey-pholder;
    border: none;
    border-radius: 10px;
    padding: 0 16px;
}
.d-comments__form__com:focus{
    outline: none;
}
.d-comments__form__right{
    width: 113px;
}
.d-done{
    position: relative;
    width: 112px;
    height: 0;
    border: none;
}
.d-done::after{
    content: "Отправить";
    position: absolute;
    top: -4px;
    left: 0;
    display: block;
    font-family: $title-font;
    font-size: 13px;
    color: $white;
    line-height: 24px;
    text-transform: uppercase;
    width: 112px;
    height: 24px;
    background: $orange;
    border-radius: 10px;
}
