
.d-theme {
    padding-top: 16px;
    &__number {
        display: inline-block;
        font-family: $title-font;
        text-transform: uppercase;
        color: $dark-text;
        font-size: 54px;
    }
    &__title {
        display: inline-block;
        font-family: $title-font;
        text-transform: uppercase;
        text-align: center;
        color: $dark-text;
        font-size: 54px;
        width:60%;
        margin: 0 auto;
    }
    &__desc {
        font-family: $text-font;
        font-size: 16px;
        color: $dark-text;
        width:60%;
        margin: 0 auto;
    }
}
