.c-container-button {
    min-height: 48px;
    background-color: $dark-bg;
    border-radius: 8px;
    margin-bottom: 8px;
}

.c-container-item {
    padding: 12px 16px;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    border: none;
    color: $cyan;
    font-family: $title-font;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.25px;
}
