@import '_left-nav.scss';

.c-container-button {
    min-height: 48px;
    background-color: $dark-bg;
    border-radius: 8px;
    margin-bottom: 8px;
}

.c-container-item {
    padding: 8px;
    // letter-spacing: 2.25px;
    // text-transform: uppercase;
    // border: none;
    color: $cyan;
    font-family: $title-font;
    font-size: 20px;
    // text-transform: uppercase;
    letter-spacing: 2.25px;

    &::after {

        // для айтемов по темам
        display: block;
        transform: translate(112px, 0);
        width: 10px;
        height: 10px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-left: 1px solid $cyan;
        content: "";
        margin-left: 16px;
        // для айтемов по темам

        // content: '';
        // border-color: $cyan;
        // display: block;
        // left: 0;
        // top: 50%;
        // margin: -20px 0 0 -21px;
        // border-right: none;
        // border-top: none;
        // border-width: 4.5px;
        // width: 40px;
        // height: 40px;
        // transform: rotate(45deg);
    }
}
