.main {
    position: relative;
    flex-basis: 85%;
    min-height: 150px;
    background-color: $light-gray;
}
.m-content {
    padding:16px 56px 48px 16px;
    &__text {
        margin-bottom:16px;
        line-height:140%;
        text-indent:16px;
        text-align: justify;
    }
}
