.c-modul-window {
    position: absolute;
    top: 54%;
    left: 50%;
    z-index: 99999;
    min-width: 400px;
    background-color: $grey-bg;
    border: 1px solid $grey-input;
    border-radius: 8px;
    transform: translate(-50%, -50%);

    &-hidden {
        //display: none;
    }
    &-close {
        position: absolute;
        top: 8px;
        right: 16px;
        width: 16px;
        height: 16px;
        opacity: 0.2;
    }
    &-close:hover {
        opacity: 1;
    }
    &-close:before,
    &-close:after {
        content: ' ';
        position: absolute;
        left: 16px;
        height: 16px;
        width: 2px;
        background-color: #000;
        transform: rotate(45deg);
    }
    &-close:after {
        transform: rotate(-45deg);
    }
    &__create-sms {
        font-size: 20px;
        font-family: $text-font;
        text-transform: uppercase;
        padding: 16px;
        color: $dark-text;
        padding-left: 16px;
        margin: 8px 0 16px 0;
        font-weight: bold;
    }
    &__block,
    &__place,
    &__desc {
        display: flex;
        flex-direction: row;
        margin: 8px 0;
        &-name,
        &-label {
            padding-left: 16px;
            font-family: $text-font;
            font-size: 16px;
            color: $orange;
            line-height: 1.2;
            &-enter {
                width: 240px;
                padding: 6px 0;
                margin-left: 32px;
                padding: 8px 4px;
                border: none;
                border-radius: 8px;
            }
        }
    }
    &__block-choice {
        display: flex;
        flex-direction: row;
        &-type-sms {
            padding-left: 16px;
            margin-top: 8px;
            font-family: $text-font;
            font-size: 16px;
            color: $orange;
            line-height: 1.2;
        }
        &__label {
            display: flex;
            flex-direction: column;
            padding: 0 16px;
            &-input {
                padding-top: 8px;
                font-family: $text-font;
                color: $grey-input;
                &:hover {
                    color: $dark-text;
                }
                &-end {
                    margin-right: 8px;
                }
            }
        }
    }
    &__calendar,
    &__calendar-end {
        margin: 8px 0;
        &-label {
            padding: 8px 0 0 16px;
            font-family: $text-font;
            font-size: 16px;
            color: $orange;
            line-height: 1.2;
        }
        &-date {
            width: 140px;
            padding: 4px 8px 4px 8px;
            margin: 8px 8px 8px 52px;
            border: none;
            border-radius: 8px;
        }
        &-time {
            padding: 4px;
            border: none;
            border-radius: 8px;
        }
    }
    &__calendar-end {
        &-date {
            margin: 8px 8px 8px 27px;
        }
    }
    &__check {
        margin-left: 136px;
        color: $grey-input;
        &:checked {
            color: $dark-text;
        }
    }
    &__place {
        &-event {
            border: none;
            border-radius: 8px;
            padding: 4px 52px 4px 8px;
            margin: 8px 0 8px 64px;
        }
    }
    &__desc {
        &-text {
            border: none;
            border-radius: 8px;
            padding: 4px 8px;
            margin: 8px 0 8px 38px;
        }
    }
    &__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-btn {
            padding: 8px 32px;
            margin: 32px;
            letter-spacing: 2.25px;
            text-transform: uppercase;
            color: $white;
            border: none;
            border-radius: 16px;
            background-color: $orange;
            font-family: $title-font;
            font-size: 14px;
        }
    }
}
