.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 50%;
    min-width: rem(800);
    padding: rem(72) rem(100) rem(80);

    transform: translate(-50%, -50%);
    text-align: center;

    background-color: #0a1829;

    &__close {
        top: rem(10);
        right: rem(20);
    }

    &__enterance {
        display: block;

        margin: 0 auto;
    }

    &__registration {
        display: none;

        margin: 0 auto;
    }
}



.title {
    text-transform: uppercase;

    color: #38ffff;

    font-family: $title-font;
    font-size: rem(91);
    font-weight: 400;
}

.a-content {
    position: relative;
}
