.close {
    position: absolute;

    text-decoration: none;

    color: #38ffff;

    font-size: 25px;

    &:hover {
        color: $orange;
    }
}

.modal-window {


    &__close {
        top: 10px;
        right: 20px;
    }



.title {
    text-transform: uppercase;

    color: #38ffff;

    font-family:$title-font;
    font-size: 91px;
    font-weight: 400;
}

.a-content {
    position: relative;
}
}
