$desktop : '(min-width: 1025px) and (max-width: 1366px)';
$desktopWide : '(min-width: 1367px) and (max-width: 1680px)';
$desktopHD : '(min-width: 1681px) and (max-width: 1920px)';
$desktopMega : '(min-width: 1921px)';