.c-header__nav-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 208px;
    height: 48px;
    margin-left: 192px;
}

.c-header__icon {
    position: relative;
    width: 48px;
    border-radius: 50%;

    &-calendar {
        background: url(../img/calendar-icon.svg) no-repeat center;
        background-color: $orange;
    }

    &-messenger {
        background: url(../img/messenger-icon.svg) no-repeat center;
        background-color: $orange;
    }

    &-adv {
        background: url(../img/adv-icon.svg) no-repeat center;
        background-color: $orange;
    }
}
.c-header__tooltip {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    font-family: $text-font;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    background: $light-green;
    border-radius: 50%;
}
