.c-header__nav-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: rem(184);
    height: rem(40);
    font-family: $text-font;
    margin-left: rem(192);
}

.c-header__icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: rem(40);
    height: rem(40);
    text-decoration: none;
    border-radius: 50%;

    &-calendar {
        background: url(../img/calendar-icon.svg) no-repeat center;
        background-color: $orange;
    }

    &-messenger {
        background: url(../img/messenger-icon.svg) no-repeat center;
        background-color: $orange;
    }

    &-adv {
        background: url(../img/adv-icon.svg) no-repeat center;
        background-color: $orange;
    }
}
.c-header__tooltip {
    width: rem(16);
    height: rem(16);
    font-size: rem(10);
    font-weight: bold;
    line-height: rem(16);
    text-align: center;
    background: $light-green;
    border-radius: 50%;
}
.c-header__tooltip:hover {
    transform: scale(1.1);
}
