.c-header__nav-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 208px;
    height: 48px;
    font-family: $text-font;
    margin-left: 192px;
}

.c-header__icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 48px;
    height: 48px;
    text-decoration: none;
    border-radius: 50%;

    &-calendar {
        background: url(../img/calendar-icon.svg) no-repeat center;
        background-color: $orange;
    }

    &-messenger {
        background: url(../img/messenger-icon.svg) no-repeat center;
        background-color: $orange;
    }

    &-adv {
        background: url(../img/adv-icon.svg) no-repeat center;
        background-color: $orange;
    }
}
.c-header__tooltip {
    width: 16px;
    height: 16px;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    background: $light-green;
    border-radius: 50%;
}
.c-header__tooltip:hover {
    transform: scale(1.1);
}
.c-header__notifications {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 200px;
    padding: 10px;
    background: $cyan;
    border-radius: 16px;
    border-top-left-radius: 0;
    z-index: -1;

    ul {
        padding-left: 10px;
        font-size: 10px;
        line-height: 1.5;
        color: $dark-text;
        list-style: disc;

        li {
            font-weight: bold;
        }
    }
}
