.c-header__photo-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $white;
    border-radius: 50%;

    &-circle {
        width: 16px;
        height: 16px;
        margin-bottom: 2px;
        background-color: $grey-bg;
        border-radius: 50%;
    }

    &-semicircle {
        width: 32px;
        height: 16px;
        background-color: $grey-bg;
        border-radius: 48px 48px 0 0;
    }
}
