.profile-wrapper {
	// max-width: 760px;

}
.profile2__photo-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: $white;
    border-radius: 50%;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    &-circle {
        width: 46px;
        height: 46px;
        margin-bottom: 2px;
        background-color: $grey-bg;
        border-radius: 50%;
    }

    &-semicircle {
        width: 78px;
        height: 39px;
        background-color: $grey-bg;
        border-radius: 78px 78px 0 0;
    }
}


.photo-block {
	margin-bottom: 32px;
}
.photo-block--icon {
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 16px;
	padding-top: 8px;
	// background-color: $grey-bg;
}
.shad {
	box-shadow: 3px 3px 6px $grey-bg;
}
.block-heading-text {
	margin-bottom: 16px;
	font-family: $text-font;
	color: $orange;
}
.input-st {
	display: block;
	width: 180px;
	height: 32px;
	margin-bottom: 16px;
	padding-left: 24px;
	font-family: $text-font;
	font-size: 18px;
	color: $dark-text;
	border: 0;
	&::placeholder {
		color: $grey-pholder;
	}
}
.input-but-st {
	@extend .input-st;
	position: relative;
	color: $grey-pholder;
	line-height: 32px;
}
.icon-info--input--svg {
	position: absolute;
	top: 4px;
	left: 8px;
	height: 24px;
	width: 24px;
	path, polygon {
		fill: $grey-pholder;
	}
}
.info-block {
	display: flex;
	margin-bottom: 16px;
	justify-content: space-between;
}
.info-block--input {
	width: 264px;
}
.social-block {
	margin-bottom: 40px;
}
.social-block--inputs {
	display: flex;
	justify-content: space-between;
}
.social-block--inputs-block--icon {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 4px;
	padding: 2px;
	text-align: center;
	background-color: transparent;
	border: 2px solid $dark-text;
}
.social-block--inputs-block--icon--svg {
	height: 24px;
	width: 24px;

	path {
		fill: $dark-text;
	}
}
.social-block--inputs-block:last-child .social-block--inputs-block--icon--svg {
	height: 21px;
	width: 16px;
}
.social-block--inputs-block--input {
	width: 136px;
}

.button-block {
	text-align: center;
}
