.profile__photo-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 192px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    &-circle {
        width: 68px;
        height: 68px;
        margin-bottom: 2px;
        background-color: $grey-bg;
        border-radius: 50%;
    }

    &-semicircle {
        width: 126px;
        height: 60px;
        background-color: $grey-bg;
        border-radius: 78px 78px 0 0;
    }
}



.profile{
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.accountPhoto{
  // min-width: 160px;
  // min-height: 168px;

  position: relative;
  display: flex;
  //justify-content: center;
  // align-items: center;
}

p {

  font-size: 28px;
  font-weight: bolder;
  font-family: 'Museo Sans Cyrl W03 300';
  // margin-bottom: 32px;

}

.name{
  display: flex;
  margin-top: 8px;
  position: relative;
  color: #202b52;
  font-weight: bolder;
}

.social_icon{
  display: flex;
  margin-top: 8px;
}

.google, .linkiden {
  margin-left: 24px;
  &:hover {
      color: $orange;
  }
}
/////////////////////
@import "mixins.scss";

.a-entrance {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: rem(608);
    margin: auto;
    text-align: center;
    color: $white;
    font-family: $text-font;

    &__btn {
        margin-top: rem(32);
    }

    &__input-block {
        margin-top: rem(16);

        &:first-child {
            margin-top: rem(64);
            max-height: rem(32);
        }

        // &--first {
        //     margin-top: rem(32);
        //     max-height: rem(32);
        // }
    }

    &__remember-pass {
        font-size: rem(16);
    }

    &__error {
        margin-top: rem(48);
    }

    &__forgot-pass {
        display: block;
        margin-top: rem(16);
        text-decoration: none;
        color: $cyan;
        font-size: rem(24);

        &:hover {
            color: $orange;
        }
    }

    &__social {
        margin: rem(32) auto 0;
    }
}

.a-input-block {
    display: flex;
    flex-direction: row;
    justify-content: right;
    z-index: 10;

    width: 100%;

    &:first-of-type {
        margin-top: rem(40);
        max-height: rem(40);
    }

    &__label {
            display: block;

            width: 38%;
            margin-right: rem(8);

            font-size: rem(20);
            text-align: right;
    }

    &__input {
        width: 100%;
        padding-left: rem(16);
        color: $dark-bg;
        border: none;
        max-height: rem(32);
        background-color: $grey-input;
        font-size: rem(20);
    }
}

.a-checkbox-block {
  z-index: 10;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: rem(24);
    padding-left: rem(16);

    &__label {
        font-size: rem(18);
    }

    &__checkbox {
        display: block;
        width: rem(16);
        height: rem(16);
        margin-right: rem(16);
    }
}


.a-social {
    display: flex;
    justify-content: space-around;
    width: rem(216);
    z-index: 10;

    &__link {
        @include links;
    }
}

.a-error {
    visibility: hidden;
    color: $red;
    font-size: rem(16);
    z-index: 10;
}

.icon {
    &:hover {
        background-color: $orange;
    }

    &--facebook {
        background: url('../img/facebook.svg')0 0/100% no-repeat;
    }

    &--google {
        background: url("../img/google.svg") 0 0/100% no-repeat;
    }

    &--linkedin {
        background: url("../img/linkedin.svg") 0 0/100% no-repeat;
    }
}
