.icon-profile1{
  display: block;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: #ff6c00;
  margin-top:16px;
}

.svg-social-icon{
  width: 120%;
  height: 120%;
}

.icon-profile1Left{
  margin-left: 48px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }

.accountPhoto {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  position: relative;
  color: #202b52;
  font-weight: bolder;
  font-size: 38px; }

.p-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  position: relative;
  color: #202b52;
  font-weight: bolder; }

.social_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px; }

.google, .linkiden {
  margin-left: 24px; }
  .google:hover, .linkiden:hover {
    color: #ff6c00; }


.icon:hover {
  background-color: #ff6c00; }


.profile2__photo-profile {
  border-radius: 100%;
  overflow:hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
  #profile_photo {
    width: 100%
  }
  .profile2__photo-profile-circle {
    width: 46px;
    height: 46px;
    margin-bottom: 2px;
    background-color: #e5e5e5;
    border-radius: 50%; }
  .profile2__photo-profile-semicircle {
    width: 78px;
    height: 39px;
    background-color: #e5e5e5;
    border-radius: 78px 78px 0 0; }

.photo-block {
  margin-bottom: 32px; }

.photo-block--icon {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 16px;
  padding-top: 8px; }

.shad {
  -webkit-box-shadow: 3px 3px 6px #e5e5e5;
          box-shadow: 3px 3px 6px #e5e5e5; }

.block-heading-text {
  margin-bottom: 16px;
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
  color: #ff6c00; }

.input-st, .input-but-st {
  display: block;
  width: 180px;
  height: 32px;
  margin-bottom: 16px;
  padding-left: 24px;
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
  font-size: 18px;
  color: #202b52;
  border: 0; }
  .input-st::-webkit-input-placeholder, .input-but-st::-webkit-input-placeholder {
    color: #cbcbcb; }
  .input-st:-ms-input-placeholder, .input-but-st:-ms-input-placeholder {
    color: #cbcbcb; }
  .input-st::-ms-input-placeholder, .input-but-st::-ms-input-placeholder {
    color: #cbcbcb; }
  .input-st::placeholder, .input-but-st::placeholder {
    color: #cbcbcb; }

.input-but-st {
  position: relative;
  color: #cbcbcb;
  line-height: 32px; }

.icon-info--input--svg {
  position: absolute;
  top: 4px;
  left: 8px;
  height: 24px;
  width: 24px; }
  .icon-info--input--svg path, .icon-info--input--svg polygon {
    fill: #cbcbcb; }

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.info-block--input {
  width: 264px; }

.social-block {
  margin-bottom: 40px; }

.social-block--inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.social-block--inputs-block--icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 4px;
  padding: 2px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #202b52; }

.social-block--inputs-block--icon--svg {
  height: 24px;
  width: 24px; }
  .social-block--inputs-block--icon--svg path {
    fill: #202b52; }

.social-block--inputs-block:last-child .social-block--inputs-block--icon--svg {
  height: 21px;
  width: 16px; }

.social-block--inputs-block--input {
  width: 136px; }

.button-block {
  text-align: center; }

.english {
  line-height: 54px; }

.small-btn {
  overflow: hidden;
  max-height: 400px;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  background-color: #f5f5f5; }

.small-btn__list-item {
  text-transform: uppercase;
  font-family: "BebasNeueRegular", "Arial", sans-serif;
  font-size: 24px;
  display: block;
  padding: 24px 40px 0; }

.small-btn__list-item:last-child {
  padding-bottom: 24px; }


  .alert {
    color: red;
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
  }

  .profile-public {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
.profile-public-icon {
  border-radius: inherit;
 height: 40px;
}
.profile-public-message {
  margin-left: 10px;
      color: red;
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
  font-weight: bold;
}

.slider-wrap {
  position: relative;
  height: 180px;
  margin: 40px 0;
  padding: 0 80px;
}

.profile-slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

 .slider-title {
  color: #202b52;
  font-size: 25px; ;
}

.slider-stripe {
  width: 1000%;
  transition: all ease 1s;
}

.slider-item {
  position: relative;
  width: 150px;
  margin: 10px 0;
  display: inline-block;
}

.item-img  {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  text-align: center;
  overflow: hidden;
}

.item-img>img {
  height: 100px;
}

.item-name, .item-score {
  font-size: 15px;
  text-align: center;
}
