.registration {
    display: none;

    text-align: center;

    color: #fff;

    &__title {
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        flex-direction: column;

        margin-bottom: 20px;
        padding-right: 40px;

        text-align: right;

        font-size: 25px;
    }

    &__checkbox {
        margin-right: 16px;
        margin-left: 80px;
    }

    &__item {
        justify-content: space-between;

        min-width: 50%;
        min-height: 30px;
        margin-bottom: 20px;
        margin-left: 40px;

        color: #fff;
        background-color: #717e8a;
    }

    &__social {
        margin: 72px auto 24px;
    }
}

.checkbox {
    width: 16px;
    height: 16px;
}
