@import "mixins.scss";

.a-entrance {
    &--centered {
        margin: 0 auto;
    }
}
// звездочки

.star::after {
    position: absolute;

    content: " *";

    color: $orange;
}
// галочка напротив поля "Подтвердить пароль"
.correctpass {
    position: relative;
    bottom: 40%;
    left: 304%;

    display: block;

    width: 10px;
    height: 10px;

    color: #00ff00;

    font-size: rem(32);
}

.a-input-block {
    // Уменьшаем размер блоков, выравниваем подписи по правому краю

    &__label {
        display: block;

        width: 35%;
        margin-right: 36px;

        font-size: rem(28);

        &--rightaligned {
            text-align: right;
        }
    }
    // добавляем белый цвет текста, уменьшаем размер
    &__input--whitetext--size {
        max-width: 60%;
        max-height: rem(40);

        color: $white;

        font-family: $text-font;
        font-size: rem(28);
    }
}

.policylink {
    font-size: rem(24);

    @include links;
}

.policylink::before {
    position: relative;
    left: -30%;

    content: " *";

    color: $orange;
}
