html, body, body div, span, p, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, address, cite, code, caption, del, dfn, img, ins, kbd, q, samp, em, small, strong, sub, sup, var, b, i, dl, dt, dd, pre, abbr, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, article, aside, figure, section, footer, header, menu, nav, time, mark, audio, video, details, summary {
	padding: 0;
	margin: 0;

	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;

	background: transparent;
	border: 0;
}

main, article, aside, figure, footer, header, nav, section, details, summary {
	display: block;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul {
	list-style: none;
}

a {
	padding: 0;
	margin: 0;

	font-size: 100%;
	vertical-align: baseline;

	background: transparent;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

th {
	font-weight: bold;
	vertical-align: bottom;
}

td {
	font-weight: normal;
	vertical-align: top;
}

input, select {
	vertical-align: middle;
}

pre {
	word-wrap: break-word; /* IE */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
}

input[type='radio'], input[type='checkbox'] {
	vertical-align: text-bottom;
}

td, td img {
	vertical-align: top;
}

label, input[type=button], input[type=submit], input[type=file], button {
	cursor: pointer;
}

button, input, select, textarea {
	margin: 0;
}

button, input[type=button] {
	width: auto;
	overflow: visible;
}

/*
 * ТУТ ВВОДИТСЯ ТЕКСТ
 * ТУТ ТОЖЕ, ЕСЛИ НАДО
 */
