.right-nav {
    width: 48px;
    height: 240px;
    background-color: $white;
    position: absolute;
    right: 0;
    top: calc(50% - 240px/2);
///////////////////// Yevhenii к исходнику дописал позиционирование
///////////////////// может нужно было сделать отдельный блок обертку, хз... Пока будет так))
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
// нужно вырезать картинки с макета и добавить в папку img/m-right-nav
// на примере чата добавить картинки
.m-right-nav__item {
    width: 32px;
    height: 32px;
    position: relative;
    background-size: contain;
    &-chat {
        background: url('../img/m-right-nav/chat.png')no-repeat;
    }
    &:hover::after {  // можете поправить стили на подсказке, я сделал для примера
        content: attr(prompt);
        position: absolute;
        left: -120px;
        font-size: rem(14);
        padding: 4px 8px;
        border-radius: 40px;
        background: $cyan;
        color: $black;
    }
}
