.t-content--position {
    padding-top: 100px;
}

.t-content__question, .t-content__attempts  {
    font-family: $text-font;
    font-size: 35px;
}

.t-content__amount {
    color: $orange;
}

.t-btn__start {
    margin-top: 128px;
}