.t-content__results {
  padding-top: 50px; }
 .t-content__marks {
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
  font-size: 35px; }
  .t-content__summ-time {
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
  font-size: 14px; }