.t-footer {
	width: 90%;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:flex-end;
  margin: 40px;
}

.t-control {
  color: #0D47A1;
  font-size: 23px;
  font-family: "MuseoSansCyrl";
  color: rgb(152, 152, 152);

}





