.t-content__results {
  padding-top: 100px; }
  .t-content__marks {
    font-family: $text-font;
    font-size: 58px; 
    padding-top: 20px;
    padding-left: 40px;
    font-weight: bold;
    color: $dark-text;
    text-shadow: 2px 2px 10px $light-green; }

  .t-content__summ-time {
    font-family: $text-font;
    font-size: 20px; 
    color: $light-text;
    text-align: center; 
    padding-top: 5px;}

.t-content__list {
  padding-top: 20px; }

  .t-content__description {
    color: $dark-text;
    font-family: $text-font;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px; }