.t-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.t-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__subtitle {
        font-family: $text-font;
        font-size: 35px;
        color: $light-text;
    }

    &__number {
        font-family: $title-font;
        font-size: 58px;
        color: $dark-text;
    }
}
.t-theme {
    display:flex;
    align-items: flex-end;
    &__name {
        font-family: $title-font;
        font-size: 58px;
        color: $dark-text;
        background-color: $cyan;
    }
}
.t-timer {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    flex-basis: 80px;

    &__time {
        font-family: $text-font;
        font-size: 10px;
        font-weight: 700;
        color: $dark-text;
        text-align: right;
    }

    &__clock {

    }

}
