.t-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $content-size;
}
.t-content__question, .t-content__attempts  {
    font-family: "Museo Sans Cyrl W03 300";
    font-size: 35px;
}
.t-content__amount {
    color: $orange;
}
.t-btn__start {
    margin-top: 128px;
}

