.button-big {
    font-size: 45px;
    padding: 24px 72px;
    border: none;
    border-radius: 10px;
    background-color: #f75300;
    color: #fff;
    text-transform: uppercase;
}

.button-small {
    font-size: 13px;
    padding: 8px 32px;
    border: none;
    border-radius: 15px;
    background-color: #f75300;
    color: #fff;
    text-transform: uppercase;
}