.button-big {
    padding: 16px 72px;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: $white;
    border: none;
    border-radius: 10px;
    background-color: $orange;

    font-family: $title-font;
    font-size: 45px;
}

.button-small {
    padding: 8px 32px;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: $white;
    border: none;
    border-radius: 15px;
    background-color: $orange;

    font-family: $title-font;
    font-size: 14px;
}

.icon {
    display: block;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: $orange;
}