.button-big {
    padding: rem(8) rem(56);
    letter-spacing: rem(2.25);
    text-transform: uppercase;
    color: $white;
    border: none;
    border-radius: rem(10);
    background-color: $orange;
    font-family: $title-font;
    font-size: rem(32);
}

.button-small {
    padding: rem(8) rem(24);
    letter-spacing: rem(2.25);
    text-transform: uppercase;
    color: $white;
    border: none;
    border-radius: rem(15);
    background-color: $orange;
    font-family: $title-font;
    font-size: rem(14);
}

.icon {
    display: block;
    width: rem(40);
    height: rem(40);
    border: none;
    border-radius: 50%;
    background-color: $orange;
}

.close {
    position: absolute;
    width: rem(32);
    height: rem(32);
    color: $orange;
    border: rem(2) solid transparent;
    border-radius: 50%;
    font-size: rem(20);
    text-align: center;

    &:hover {
        cursor: default;
        color: $cyan;
        border: rem(2) solid $orange;
        border-radius: 50%;
    }
}

.logo {
    width: rem(60);
    &__img{
        width: rem(104);
    }
}
