@import "mixins.scss";



.registration-background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  /* фон затемнения */
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  /* фиксированное поцизионирование */
  cursor: default; /* тип курсара */

  .modal-window__registration {
    background-color: #0a1829;
    width: 50%;
    min-width: 608px;
    padding-top: 20px;
    position: relative;
    left: 20%;
    top: 10%;
    padding-bottom: 50px;
    bottom: 10%;
    text-align: center;


    .a-registration {


      text-align: center;
      color: white;
      font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
      &__title {
          text-transform: uppercase;
          color: #38ffff;
          font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
          font-size: 60px;
          font-weight: 400;
      }


}
}
}
