.wrapper {
    background-color: #0a1829;
}

.wrapper--white {
    background-color: #fff;
}

.close {
    text-decoration: none;
    color: #38ffff;
    position: absolute;
    font-size: 25px;
}

.btn {
    height: 40px;
    font-size: 20px;
    padding: 0 40px;
    border: none;
    border-radius: 10px;
    background-color: #f75300;
    color: #fff;
    text-transform: uppercase;
}

.header {
    min-width: 100%;
    min-height: 100px;
    padding: 20px 35px;
}

.title {
    font-weight: 400;
    color: #38ffff;
    text-transform: uppercase;
    font-size: 40px;
}

.main {
    display: flex;
    min-height: 85vh;
    position: relative;
}

.modal-window {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    padding: 40px 40px 100px;
    background-color: #0a1829;
    transform: translate(-50%, -50%);

    &__close {
        top: 10px;
        right: 20px;
    }
}