html, body, body div, span, p, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, address, cite, code, caption, del, dfn, img, ins, kbd, q, samp, em, small, strong, sub, sup, var, b, i, dl, dt, dd, pre, abbr, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, article, aside, figure, section, footer, header, menu, nav, time, mark, audio, video, details, summary {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  border: 0; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

ul {
  list-style: none; }

a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

input, select {
  vertical-align: middle; }

pre {
  word-wrap: break-word;
  /* IE */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */ }

input[type='radio'], input[type='checkbox'] {
  vertical-align: text-bottom; }

td, td img {
  vertical-align: top; }

label, input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button, input[type=button] {
  width: auto;
  overflow: visible; }

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.otf") format("otf"), url("../fonts/BebasNeueRegular.ttf") format("ttf"); }

@font-face {
  font-family: "Museo Sans Cyrl W03 300";
  src: url("../fonts/Museo Sans Cyrl W03 300.woff2") format("woff2"), url("../fonts/Museo Sans Cyrl W03 300.woff") format("woff"), url("../fonts/Museo Sans Cyrl W03 300.otf") format("otf"), url("../fonts/Museo Sans Cyrl W03 300.ttf") format("ttf"); }

.button-big {
  padding: 16px 72px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: #ff6c00;
  font-family: "BebasNeueRegular", "Arial", sans-serif;
  font-size: 45px; }

.button-small {
  padding: 8px 32px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 15px;
  background-color: #ff6c00;
  font-family: "BebasNeueRegular", "Arial", sans-serif;
  font-size: 14px; }

.icon {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ff6c00; }

.profile-wrapper {
  max-width: 560px; }

.photo-block {
  margin-bottom: 32px; }

.photo-block--icon {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 16px;
  background-color: #e5e5e5; }

.shad {
  -webkit-box-shadow: 3px 3px 6px #e5e5e5;
          box-shadow: 3px 3px 6px #e5e5e5; }

.block-heading-text {
  margin-bottom: 16px;
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
  color: #ff6c00; }

.input-st {
  display: block;
  width: 180px;
  height: 32px;
  margin-bottom: 16px;
  padding-left: 24px;
  font-family: "Museo Sans Cyrl W03 300", "Arial", sans-serif;
  font-size: 18px;
  color: #202b52;
  border: 0; }
  .input-st::-webkit-input-placeholder {
    color: #cbcbcb; }
  .input-st:-ms-input-placeholder {
    color: #cbcbcb; }
  .input-st::-ms-input-placeholder {
    color: #cbcbcb; }
  .input-st::placeholder {
    color: #cbcbcb; }

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.info-block--input {
  width: 264px; }

.social-block {
  margin-bottom: 40px; }

.social-block--inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.social-block--inputs-block--icon {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 4px;
  padding: 2px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #202b52; }

.social-block--inputs-block--input {
  width: 136px; }

.button-block {
  text-align: center; }
